
%ul#newsWrapper
  - news_list.each do |news|
    %li.newsList.clearfix
      .newsWrapper
        .voteInfo
          .voteBtn
            - if current_user
              - if current_user.vote_news.include?(news)
                %i.fa.fa-sort-asc.main-color
              - else
                = link_to users_vote_path(news_id: news.id), method: :post do
                  %i.fa.fa-sort-asc
            - else
              = link_to '#', onclick: 'alert("ログインするとニュースをプッシュする事が出来るようになります。")' do
                %i.fa.fa-sort-asc
          .voteCount
            = news.vote_count
        .newsContents
          %h2= news_title(news)

          .detail
            = ' by '
            = user_link(news.user)
            = '  ' + formalize(news.created_at)
            - if current_user == news.user
              = link_to 'x', news_path(news), method: :delete, class: 'red-color', data: {confirm: 'ニュースを削除します。本当に宜しいでしょうか。'}
          // = news.contents
      .commentBtn
        = link_to news_path(news) do
          .commentIcon
            %i.fa.fa-comment
          .commentCount
            = news.comments.count
            comment
    .borderDiv{style: 'width: 770px'}


