#welcome
  - @invitations.each do |invitation|
    %h5= link_to invitation.address, invitation_path(invitation)
    %h6= '料金: ' + invitation.price.to_s
    %h6= '詳細: ' + invitation.describe

    %h6
      = 'ユーザー: '
      = link_to invitation.user.try(:name), invitation.user
    - invitation.images.each do |image|
      = image_tag image.image, width: '200px'
