%p#notice= notice

%p
  %b Price:
  = @invitation.price
%p
  %b Address:
  = @invitation.address
%p
  %b Describe:
  = @invitation.describe

%p
  %b Image:
  - @invitation.images.each do |image|
    = image_tag image.image, width: '200px'


- if current_user
  = link_to 'Book', book_user_path(current_user, invitation_id: @invitation.id), data: {confirm: 'Bookしますが本当によろしいでしょうか？'}, method: :post
- else
  = link_to 'Book', '#', onclick: 'alert("ログインするとBook出来るようになります。")'

