!!!
%html{dir: "ltr", lang: "ja", "xml:lang" => "ja", xmlns: "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml", "xmlns:og" => "http://ogp.me/ns#"}
  %head
    %title Instabed
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %meta{ name: 'description', content: 'Hacker Board は最新アプリ、ウェブサービスのローンチ情報や、テック系ニュースを共有するサイトです。' }
    %meta{ name: 'keywords', content: 'スタートアップ,インターネット,ウェブ,ウェブサービス,ベンチャー,ニュース,IT.起業.web,シリコンバレー,プログラミング,コード,エンジニア' }
    %meta{ name: 'copyright', content: 'http://www.hackerboard.tokyo/' }

    %meta{content: "Hacker Board", property: "og:title"}/
    %meta{content: "website", property: "og:type"}/
    %meta{content: "http://www.hackerboard.tokyo/", property: "og:url"}/
    %meta{content: "http://www.hackerboard.tokyo/assets/favicon-9d9978557be7b61e2a55562abda4607e.jpg", property: "og:image"}/
    %meta{content: "Hacker Board", property: "og:site_name"}/
    %meta{content: "Hacker Boardは最新テックニュースを共有するサイトです。", property: "og:description"}/


    = favicon_link_tag 'favicon.jpg'
    = csrf_meta_tags

  %body
    %nav#header.clearfix
      #logWrapper
        = link_to 'Instabed', root_path, class: 'navbar-brand'
        .pull-right
          .clearfix.Btns
            - if current_user

              = link_to current_user, class: 'btn-logout pull-right' do
                .clearfix
                  %i.fa.fa-home.pull-left
                  %p.pull-left{style: 'font-size: 15px; line-height: 21px; padding-top: 5px;'}
                    Home

              = link_to new_invitation_path, class: 'pull-right btn-post' do
                .clearfix
                  %i.fa.fa-pencil-square-o.pull-left
                  %p.pull-left{style: 'font-size: 15px; line-height: 21px; padding-top: 5px;'}
                    Invitation


            - else
              = link_to user_omniauth_authorize_path(:facebook), class: 'btn-facebook pull-right' do
                .clearfix
                  %i.fa.fa-facebook-square.pull-left
                  %p.pull-left{style: 'font-size: 15px; line-height: 21px; padding-top: 5px;'}
                    Login

              = link_to '#', class: 'pull-right btn-post', onclick: 'alert("ログインするとニュースをシェアする事が出来るようになります。")' do
                .clearfix
                  %i.fa.fa-pencil-square-o.pull-left
                  %p.pull-left{style: 'font-size: 15px; line-height: 21px; padding-top: 5px;'}
                    Invitation

    #mainContents
      = yield
